.footer {
    width: 100%;
    background-color: rgb(237, 66, 11);
    color: black;
    height: 30px;
    position: absolute;
    text-align: center;
}

.mr-auto,
.mx-auto {
  margin-top: 75px !important;
}

.dropdown-item {
  color: rgba(0,0,0,.5);
}