.footer {
    width: 100%;
    background-color: rgb(237, 66, 11);
    color: black;
    height: 30px;
    position: absolute;
    text-align: center;
}

.mr-auto, .mx-auto {
  margin-top: 75px !important;
}

.dropdown-item {
  color: rgba(0,0,0,.5);
}

nav .navbar-brand {
    /* size for brand */
    font-size: xx-large;
}

main img {
    /* constrain images on small screens */
    max-width: 100%;
}


main tfoot {
    /* boldface tables' footers */
    font-weight: bold;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: black;
}

textarea {
    font-family: inherit;
}

.create-order-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 50%;
  padding: 30px 90px 90px 90px;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.50);
  border-radius: 15px;
  z-index: 2;
  align-items: center;
}
  
.card h2 {
  display: flex;
  color: #ffffff;
  font-size: 60px;
  text-transform: uppercase;
  justify-content: center;
}

.card .row {
  position: relative;
  width: 100%;
  display: flex;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
  grid-gap: 30px;
  flex-direction: column;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
}

.card .row .form-group select {
  position: absolute;
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.10);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  padding: 10px 0 10px 20px;
  color: #ffffff;
  border-radius: 5px;

}

.card .row .form-group input,
.card .row .form-group textarea {
  position: absolute;
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 24px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.10);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  padding: 10px 0 10px 20px;
  color: #ffffff;
  border-radius: 5px;
}

.card .row .form-group textarea {
  height: auto;
}

.card .row .form-group label {
  line-height: 40px;
  color: #ffffff;
  font-size: 24px;
  margin: 0 0 0 30px;
  display: block;
  pointer-events: none;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
  box-shadow: none;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.10);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
  box-shadow: none;
  transition: all 0.4s;
}
  
@media screen and (max-width: 900px) {
  .card .row {
    grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
  }
  
  .card {
    padding: 20px;
  }
  
  .card h2 {
    text-align: center;
    font-size: 34px;
  }
  
  .card .row .col:nth-child(5n) {
    margin-bottom: 100px;
  }
  
  .card .row input[type="submit"] {
    width: 100%;
  }
}