{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}
{% block main %}
<form action="/create-order" method="post" autocomplete="off" class="create-order-form">
    <section class="create-order-body">
        <div class="card">
          <h2>New Order</h2>
          <div class="row">
            <div class="col">
              <div class="form-group">
                  <label for="full_name">Customer full name:</label>
                  <input type="text" placeholder="full name" name="full_name" id="full-name" autocomplete="off" required>
              </div>
            </div>
            <div id="orderItemsInputWrapper">
              <div class="col">
                <div class="form-group">
                  <label for="product-id">Select product name:</label>
                  <select name="product_id" id="product-id" required>
                    <option value="" disabled selected>Select product...</option>
                    {% for product in products %}
                      <option value="{{ product.id }}">{{ product.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
      
              <div class="col">
                <div class="form-group">
                  <label for="quantity">Amount of product:</label>
                  <input type="number" placeholder="quantity" name="quantity" min="1" required>
                  <button type="button" name="addProductAndAmount" id="addProductAndAmount" class="btn btn-success">+</button>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="form-group">
                <label for="notes">Notes:</label>
                <textarea rows="3" placeholder="Order Notes" name="note" maxlength="280"></textarea>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="submit" value="Submit">
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" name="amount_of_items" value="1" id="amount-of-items">
</form>
</section>

<script src="{{url_for('static', filename='myapp.js')}}"></script>

{% endblock %}