{%if session.user_id %}            
                    
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Orders
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="./create/create-orders.html">Create</a>
                                <a class="dropdown-item" href="index.html">view</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="./create/create-products.html">Create</a>
                                <a class="dropdown-item" href="./view/view-products.html">view</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="companies.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Companies
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="./create/create-companies.html">Create</a>
                                <a class="dropdown-item" href="./view/view-companies.html">view</a>
                            </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                People
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="./create/create-people.html">Create</a>
                                <a class="dropdown-item" href="./view/view-people.html">view</a>
                                </div>
                            </li>
                        </ul>

                        <form class="form-inline my-2 my-md-0">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                        </form>
      
                    {% else %}

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>

                    {% endif %}

                </div>
            </nav>
        </div>

        {% if get_flashed_messages() %}
            
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>

        {% endif %}